<a href="https://colab.research.google.com/github/ameyas1/Womens_clothing_ecommerce/blob/master/e_commerce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import keras
import tensorflow as tf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Using TensorFlow backend.

In [2]:
import pandas as pd
import io

df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv',index_col=0)
df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [0]:
df.rename(columns={'Clothing ID':'Clothing_ID','Review Text':'Review_Text',"Recommended IND":"Recommended_IND","Positive Feedback Count":"Positive_Feedback_Count","Division Name":"Division_Name","Department Name":"Department_Name","Class Name":"Class_Name"},inplace=True)

In [0]:
df['Review_Text']=df['Review_Text'].astype(str)
df['Review_Length']=df['Review_Text'].apply(len)

In [5]:
df.dtypes

Clothing_ID                 int64
Age                         int64
Title                      object
Review_Text                object
Rating                      int64
Recommended_IND             int64
Positive_Feedback_Count     int64
Division_Name              object
Department_Name            object
Class_Name                 object
Review_Length               int64
dtype: object

In [0]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [7]:
df.isnull().sum()

Clothing_ID                0
Age                        0
Title                      0
Review_Text                0
Rating                     0
Recommended_IND            0
Positive_Feedback_Count    0
Division_Name              0
Department_Name            0
Class_Name                 0
Review_Length              0
dtype: int64

In [8]:
df.describe()

,Clothing_ID,Age,Rating,Recommended_IND,Positive_Feedback_Count,Review_Length
count,19663.000000,19663.000000,19663.000000,19663.000000,19663.000000,19663.000000
mean,921.306159,43.260133,4.183187,0.818186,2.652342,318.428775
std,200.226312,12.258175,1.112211,0.385701,5.834167,142.282617
min,1.000000,18.000000,1.000000,0.000000,0.000000,3.000000
25%,861.000000,34.000000,4.000000,1.000000,0.000000,199.000000
50%,936.000000,41.000000,5.000000,1.000000,1.000000,315.000000
75%,1078.000000,52.000000,5.000000,1.000000,3.000000,475.000000
max,1205.000000,99.000000,5.000000,1.000000,122.000000,508.000000

In [9]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
corpus=[]
ps=PorterStemmer()
for i in range(df.shape[0]):
  review=re.sub('[^a-zA-Z]',' ',df['Review_Text'][i])
  review=review.lower()
  review=review.split()
  review=[ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
  review=' '.join(review)
  corpus.append(review)

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=8500)
x=cv.fit_transform(corpus).toarray()
y=df['Recommended_IND']

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)
x_train

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[-0.0341146 ,  0.        , -0.008524  , ..., -0.02088324,
         0.        , -0.02088324],
       [-0.0341146 ,  0.        , -0.008524  , ..., -0.02088324,
         0.        , -0.02088324],
       [-0.0341146 ,  0.        , -0.008524  , ..., -0.02088324,
         0.        , -0.02088324],
       ...,
       [-0.0341146 ,  0.        , -0.008524  , ..., -0.02088324,
         0.        , -0.02088324],
       [-0.0341146 ,  0.        , -0.008524  , ..., -0.02088324,
         0.        , -0.02088324],
       [-0.0341146 ,  0.        , -0.008524  , ..., -0.02088324,
         0.        , -0.02088324]])

In [0]:
from keras.models import Sequential
from keras.layers import Dense

In [0]:
classifier=Sequential()

In [16]:
classifier.add(Dense(output_dim=4250,init='uniform',activation='relu',input_shape=(8500,)))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_shape=(8500,), units=4250, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [0]:
# classifier.add(Dense(output_dim=4250,init='uniform',activation='relu'))

In [18]:
classifier.add(Dense(output_dim=1,init='uniform',activation='sigmoid'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [0]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [20]:
classifier.fit(x_train,y_train,batch_size=50,nb_epoch=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/2
13764/13764 [==============================] - 16s 1ms/step - loss: 1.2625 - acc: 0.8276
Epoch 2/2
13764/13764 [==============================] - 14s 1ms/step - loss: 0.5886 - acc: 0.9210

In [0]:
y_pred=classifier.predict(x_test)

In [0]:
y_pred=(y_pred>0.5)

In [23]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(y_test, y_pred))
print('\n')
print(classification_report(y_test, y_pred))

[[ 468  566]
 [ 219 4646]]


              precision    recall  f1-score   support

           0       0.68      0.45      0.54      1034
           1       0.89      0.95      0.92      4865

   micro avg       0.87      0.87      0.87      5899
   macro avg       0.79      0.70      0.73      5899
weighted avg       0.85      0.87      0.86      5899